*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cabecalho{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    padding:5px;;
    margin:10px;
    background-color:#ffbf69;
    border-radius:15px;
    

}
.cabecalho_logo_container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    gap:450px;
    margin:0;
    padding:0;
}

.cabecalho-logo{
    Font-size:2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
    color:#f1f1f1;
    margin-left:20px;
}

.cabecalho_logo2{
    float:right;
    width:150px;
    margin-right:50%;
}

.cabecalho-menu{
    display:flex;
    position:absolute;
    right:10px;
    gap:40px;
    padding:12px 50px;
    background-color:#ff9f1c;
    border-radius:0 15px 15px 0;

}
.cabecalho-menu-item{
    font-size:1.2em;
    font-family:arial;
    font-weight:400;
    color:#f1f1f1;
    
}
.cabecalho-logo > a{
    color:white;
}
.cabecalho-menu-item:hover{
    color:#d00000;
    transition:0.4s;
}
body{
    font-family:arial;
}
/* Estilização da imagem do banner e do texto do banner*/
.bannerHeader{
    width:100%
}
.bannerHeader> img{
    width:100%;
    height:100%;
    object-fit:100%;
}
/* conteúdo do body começa aqui */

.grid1{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 800px;
    padding: 10px;
    margin:0 auto;
    gap:10px;
    margin-bottom:250px;
    place-content: center;
 
    
}
.grid1 > div:nth-child(n + 4){
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    align-items: center;
}
.grid1 > div.anuncio1{
    grid-column: 1 ;
    grid-row: 2 / 4 ;
    border-top: 10px solid rgb(73, 53, 49);
    display: block;
    margin-right: 250px;
} 
.itens{
    max-width: 250px;
}
.grid1 > div.anuncio2{
    grid-column: 1 ;
    grid-row: 3 / 5 ;
    border-top: 10px solid rgb(73, 53, 49);
    display: block;
    background-image: url(/imagens/Pet-Marketing.png);
    background-color: tomato;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 250px;
} 
.anuncioDesc{
    padding:8px;
    background-color: rgba(50,50,50,0.8);
    color:#f1f1f1;
    font-family:arial;
    font-size: small;
    border-radius:0px 50px 50px 0px;
}
.grid1 > div.anuncio2 > a > p{
 object-fit: contain;
}





@media (max-width: 600px){
    .grid1{
        grid-template-columns: 2fr 2fr;
    }
    .grid1 > div:nth-child(n + 4){
        display:block;
    }
    .grid1 > div.anuncio1{
        grid-column:auto;
        grid-row: auto;
        order:-1
    }
}

/* fim do grid 1*/
/*início do grid 2 */
h2{
    font-family: Georgia;
    text-align: center;
    margin-top: 30px;
}
h3{
    text-align: center;
}
.grid2{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0 auto;
    gap:100px;
    margin-bottom:250px;
    margin-right: 100px;
    margin-left:100px;
    margin-top: 100px;
}
.grid2 >div{
    display:flex;
    flex-direction: column;
    /* grid-template-columns: 1fr;
    grid-gap:10px; */
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    gap:20px;
    color:grey;
    font-family: Dunkin;
    font-weight: 0;
    line-height: 1.5em;
}
@media screen and (max-width: 600px){
    .grid2{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin:0 auto;
        padding:10px;
    }
}

    @media screen and (max-width:600px){
        .grid1{
            display:grid;
            grid-template-columns: 1fr 1fr;
            margin:0 auto;
            padding:10px;
        }
    }

/* fontes de texto */

@font-face {
    font-family: "Dunkin";
    src: url("/fonts/Dunkin.otf") format("otf");
  }
  @font-face {
    font-family: "DunkinSansBold";
    src: url("/fonts/DunkinSansBold.otf") format("otf");
  }
@font-face {
    font-family: "AnjaEliane";
    src: url("/fonts/AnjaEliane.ttf") format("ttf");
  }
/* rodapé footer começa aqui */

.contato_info{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    line-height:2.5em;
}

 .up_footer{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:1px;      /*alterado*/
    padding:20px;
    background-color:#ff9f1c;

}

.logos > .logo > img{
    width:25px;
}
.patrocinadores{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.footer_statue{
   width:120px;
   height:120px;
} 

footer{
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  */
    
    text-align:center;
    padding:50px;
    background-color:#ffbf69;
    margin-top:50px; 
    color:white;
}
.footer_link{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:0 auto;

    justify-content: space-around;
    margin:0 auto;
    font-size:0.7em;
}