*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cabecalho{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    padding:5px;;
    margin:10px;
    background-color:#ffbf69;
    border-radius:15px;
    

}
.cabecalho_logo_container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    gap:450px;
    margin:0;
    padding:0;
}

.cabecalho-logo{
    Font-size:2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
    color:#f1f1f1;
    margin-left:20px;
}

.cabecalho_logo2{
    float:right;
    width:150px;
    margin-right:50%;
}

.cabecalho-menu{
    display:flex;
    position:absolute;
    right:10px;
    gap:40px;
    padding:12px 50px;
    background-color:#ff9f1c;
    border-radius:0 15px 15px 0;

}
.cabecalho-menu-item{
    font-size:1.2em;
    font-family:arial;
    font-weight:400;
    color:#f1f1f1;
    
}
.cabecalho-logo > a{
    color:white;
}
.cabecalho-menu-item:hover{
    color:#d00000;
    transition:0.4s;
}
body{
    font-family:arial;
    /* background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%); */
    background-color: #f4f1de;
}


/* FOOTER daqui para baixo está o rodapé e o sub-rodapé da página */


.contato_info{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    line-height:2.5em;
}

 .up_footer{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin-top:1px;      /*alterado*/
    padding:20px;
    background-color:#ff9f1c;

}

.logos > .logo > img{
    width:25px;
}
.patrocinadores{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.footer_statue{
   width:120px;
   height:120px;
} 

footer{
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  */
    
    text-align:center;
    padding:50px;
    background-color:#ffbf69;
    margin-top:50px; 
    color:white;
}
.footer_link{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 300px;
    font-size:0.7em;
}

/*QUEM SOMOS*/
.SobreNos {
    justify-content: center;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
}

.img1 { 
    width: 900vh;
    justify-content: center;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;

}
.img2 { 
    justify-content: center;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
}
.desc2 {
    text-align: center;
    color: rgb(85, 85, 85);
    font-family: arial, helvetica, sans-serif;
}

.desc3{
    display: flex;
    flex-direction:column;
    justify-content: center;
    overflow: hidden;
    justify-content: space-between;
}
.desc_sub{
    display:flex;
    flex-direction:column;
    max-width: 50%;
    margin:0 auto;
    line-height: 30px;
}

.menu{ 
    border-color: rgb(82, 82, 82) ;
     padding: 50px;
     text-align: center;
     background:#ff9f1c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
    
}

.form input {
  margin-left: 50vh;
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition:0,4s;
   /* border-color:; */
   box-shadow:0.2s;
}

.form button {
    margin-left: 50vh;
    display: block;
    padding: 1rem;
    background: #1d1d1d;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }

  
  .form label,
  .form input,
  .form textarea,
  .form button {
    display: block;
    width: 50%;
  }
  

  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px #4dc8ff;
  }
  
  
  .form button:hover,
  .form button:focus {
    outline: none;
    background: black;
  }
.h2{
    display:flex;
    max-width: 50%;
    margin:0 auto;
    line-height: 40px;
}